$background-primary: #F6F5F0;
$background-secondary: rgb(255, 255, 255);

$border-primary: #c8c8c8;
$border-secondary: rgb(204, 204, 204);

$text-primary: rgb(51, 51, 51);
$text-secondary: rgb(101, 101, 101);